# API Endpoint
API=                                              # API server location
L_PASSWORD_MIN_LENGTH=                       # (optional) (default: 12) Minimum length of the initialization password

# Packages to exclude. Running `yarn clean` may be required in order for changes to take affect.
EXCLUDES_PKG="rancher-components"

# E2E
TEST_USERNAME=admin                               # Default user, initial one is always 'admin'
TEST_PASSWORD=                                    # User password or custom during first run
TEST_BASE_URL=                                    # URL used by Cypress to run the tests, default already set as `https://localhost:8005`
TEST_SKIP=setup                                   # (optional) set it 'true' to avoid to execute bootstrap setup tests for already initialized instances