HTML,
BODY {
  font-family: $body-font;
  font-size: 16px;
}

H1,
H2,
H3,
H4,
H5,
H6 {
  color: var(--body-text);
  font-style: normal;
  font-weight: 400;
  margin: 0 0 10px 0;
}

// we should't use h* to set text font-size
H1 {
  font-size: 24px !important;
}

H2 {
  font-size: 21px !important;
}

H3 {
  font-size: 18px !important;
}

H4 {
  font-size: 16px !important;
}

H5 {
  font-size: 14px !important;
}

H6 {
  font-size: 12px !important;
  text-transform: uppercase;
}

P {
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

//code
code,
samp,
kbd,
.monospace {
  font-family: $mono-font;
  text-align: left;
}

pre {
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--box-bg);
  margin: 5px;
  overflow: auto;
}

code {
  // background-color: var(--box-bg);
  display: inline-block;
  padding: 5px;
  // border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

pre code {
  background: transparent;
  padding: 0;
}
