name: Tests
on:
  pull_request:
      branches:
        - main
        - release-*
  workflow_dispatch:
    environment:
      description: 'Environment to run tests against'
      type: environment
      required: true 
  # This tells GH that the workflow is reusable
  workflow_call:

jobs:
  i18n:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install packages
        run: yarn install:ci
      - name: Run i18n linters
        run: yarn lint-l10n

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install packages
        run: yarn install:ci
      - name: Run linters
        run: yarn lint

